@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="text-center">
        <h4 class="display-4"></h4>
        </div>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Asp.net MVC -By scott@gmail.com</h2>
            <p>
               Date:10-Mar-2022
               Subject:MS.Net
            </p>
            <p><a class="btn btn-outline-dark" href="https://devblogs.microsoft.com/dotnet/category/aspnet/">Click Here &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Asp>net Web API-By scott@gmail.com</h2>
            <p>Date:18-Mar-2022
                Subject:MS.Net
            </p>
            <p><a class="btn btn-outline-dark" href="https://devblogs.microsoft.com/dotnet/tag/asp-net-web-api/">Click Here &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">MS-SQL Server-By tiger@gmail.com</h2>
            <p>Date:15-Jul-2022
                Subject:RDBMS
            </p>
            <p><a class="btn btn-outline-dark" href="https://cloudblogs.microsoft.com/sqlserver/">Learn more &raquo;</a></p>
        </section>
    </div>
</main>